.time-box {
    margin-top: 50px;
    display   : flex;
    cursor    : pointer;

    .time {
        border : 1px solid #000;
        margin : 0 10px;
        padding: 2px 20px;
    }

    .time:hover {
        background: yellow;
    }

    .active {
        background: yellow;
    }

}

.date-picker {
    height   : 37px;
    font-size: 1.3rem;
}