body,
html {
  background       : #fff;
  background-repeat: no-repeat;
  background-size  : cover;
  font-family      : $fontmain;
  font-size        : 1rem;
  overflow         : hidden;
  scroll-behavior  : smooth;
}

* {
  margin         : 0;
  padding        : 0;
  box-sizing     : border-box;
  outline        : none;
  border         : none;
  text-decoration: none !important;
  transition     : all .2s linear;
}

button {
  cursor : pointer;
  border : none;
  outline: none;
}

h1,
h2,
h3 {
  color      : var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height   : auto;
}

.container {
  max-width: 1120px;
}

.section {
  background : #fff;
  width      : 100%;
  padding-top: 4rem;
}

.section_heading {
  left       : 0;
  color      : #4ABDE2;
  font-size  : 2.6rem;
  padding    : 1rem 0 2.5rem 0.5rem;
  font-weight: 500;
}