/*
 * General styles
 */
body,
html {
  background       : #fff;
  background-image : "#fff";
  background-repeat: no-repeat;
  background-size  : cover;
  font-family      : $fontmain;
  font-size        : $base-size - 2px;
  height           : 100vh;
  overflow         : hidden;
}

* {
  // font-family    : 'Poppins', sans-serif;
  font-family    : 'Roboto', sans-serif;
  margin         : 0;
  padding        : 0;
  box-sizing     : border-box;
  outline        : none;
  border         : none;
  text-decoration: none !important;
  transition     : all .2s linear;
}

.title {
  text-align    : center;
  text-transform: uppercase;
  font-weight   : bold;
  font-size     : $base-size + 4px;
  margin-top    : 15px;
  color         : $colormain;
}