.login-backgroud {
    position  : relative;
    height    : 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        position        : absolute;
        max-width       : 500px;
        min-width       : 300px;
        max-height      : 700px;
        min-height      : 420px;
        width           : 28%;
        height          : 64%;
        background-color: #FFFFFF;
        border-radius   : 25px;
        top             : 50%;
        left            : 50%;
        transform       : translate(-50%, -50%);
        box-sizing      : border-box;

        .login-content {
            height: 60%;

            .login-form {
                display       : flex;
                flex-direction: column;
                align-items   : center;
                padding-top   : 2rem;
                max-width     : 100%;

                .login-title {
                    text-align : center;
                    padding    : 2rem 0;
                    margin     : 0;
                    font-size  : 2.2rem;
                    font-weight: 600;
                    color      : rgba(95, 90, 90, 0.9);
                    cursor     : default;

                }

                label {
                    align-self    : start;
                    padding-left  : 4.5rem;
                    padding-bottom: 0.5rem;
                    color         : rgba(187, 187, 187, 0.9);
                }

                input {
                    width         : 80%;
                    box-sizing    : border-box;
                    border        : none;
                    font-size     : 1.3rem;
                    padding-left  : 1.5rem;
                    padding-bottom: 1rem;
                    box-shadow    : inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
                    transition    : box-shadow 0.2s ease-in;
                }

                input:focus {
                    box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
                    outline   : none;
                }

                .custom-input-password {
                    position: relative;
                    width   : 80%;

                    input {
                        width         : 100%;
                        box-sizing    : border-box;
                        border        : none;
                        font-size     : 1.3rem;
                        padding-left  : 1.5rem;
                        padding-bottom: 1rem;
                        box-shadow    : inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
                        transition    : box-shadow 0.2s ease-in;
                    }

                    input:focus {
                        box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
                        outline   : none;
                    }

                    i {
                        position: absolute;
                        right   : 0;
                        cursor  : pointer;
                    }


                }

                .login-title-err {
                    margin-top: 18px;
                    font-size : 1.2rem;
                }

                button {
                    border-radius: 25px;
                    width        : 80%;
                    height       : 40px;
                    font-size    : 1.3rem;
                    color        : white;
                    font-weight  : 700;
                    background   : rgb(34, 193, 195);
                    background   : linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                    border       : 0px;
                    cursor       : pointer;
                    transition   : opacity 0.25s ease-out;
                    margin-top   : 20px;
                }

                button:hover {
                    opacity: 0.8;
                }
            }

            .login-forgot-password {
                align-self  : start;
                padding-left: 4.5rem;
                margin-top  : 12px;
                color       : rgba(66, 63, 63, 0.9);
                cursor      : pointer;
                opacity     : 0.6;
            }

            .login-forgot-password:hover {
                opacity: 1;
            }

            .login-with {
                text-align: center;
                margin-top: 20px;
                opacity   : 0.6;
                cursor    : pointer;
            }

            .login-with:hover {
                opacity: 0.9;
            }

            .login-social {
                display        : flex;
                justify-content: center;
                margin-top     : 16px;

                i {
                    font-size: 3rem;
                    padding  : 0 10px;
                    cursor   : pointer;
                }

                .facebook-icon {
                    color: #3C5996;

                }

                .twitter-icon {
                    color: #54A8DE;
                }

                .google-icon {
                    color: #D54F43;
                }
            }
        }


    }
}