        .hand-book-card {
            padding: 6px;

            .card {
                cursor       : pointer;
                height       : 230px;
                max-width    : 100%;
                border       : .1rem solid rgba(0, 0, 0, .1);
                border-radius: 1rem;

                .card-img {
                    min-height             : 156px;
                    width                  : 100%;
                    background-position    : center;
                    background-repeat      : no-repeat;
                    background-size        : cover;
                    border-top-right-radius: 9px;
                    border-top-left-radius : 9px
                }

                .card-body {
                    align-items: center;
                    position   : relative;

                    .card-title {
                        position : absolute;
                        font-size: 1.4rem;
                        margin   : auto 0;
                        top      : 50%;
                        transform: translateY(-50%);
                        padding  : 1rem .5rem;
                    }
                }
            }

            .card:hover {
                .card-title {
                    color: #4ABDE2;
                }
            }
        }