@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.specialty-card {
    padding: 6px;

    .card {
        cursor       : pointer;
        height       : 200px;
        max-width    : 100%;
        border       : .1rem solid rgba(0, 0, 0, .1);
        border-radius: 1rem;

        .card-img {
            min-height             : 156px;
            width                  : 100%;
            background-position    : center;
            background-repeat      : no-repeat;
            background-size        : cover;
            border-top-right-radius: 9px;
            border-top-left-radius : 9px
        }

        .card-body {
            align-items: center;
            position   : relative;

            .card-title {
                position : absolute;
                font-size: 1.4rem;
                margin   : auto 0;
                top      : 50%;
                transform: translateY(-50%);
            }
        }
    }

    .card:hover {
        .card-title {
            color: #4ABDE2;
        }
    }
}









// @media (max-width:1261px) {

//     .specialty-card .card img {
//         max-height: 130px;
//     }
// }

// @media (max-width:1024px) {

//     .specialty-card .card img {
//         max-height: 124px;
//     }
// }

// @media (max-width:991px) {

//     html {
//         font-size: 55%;
//     }

//     .description {
//         padding  : 1rem;
//         width    : auto;
//         font-size: 1.5rem;
//     }

//     .specialty-card .card img {
//         max-height: 130px;
//     }

// }

// @media (max-width:550px) {

//     .specialty-card .card img {
//         max-height: 200px;
//     }
// }

// @media (min-width:500px) {

//     .specialty-card .card img {
//         max-height: 119px;
//     }
// }