       .top-doctor-card {
           padding: 6px;

           .card_top-doctor {
               cursor       : pointer;
               height       : 220px;
               width        : 100%;
               border       : .1rem solid rgba(0, 0, 0, .1);
               border-radius: 1rem;

               .card-img {
                   margin                 : auto;
                   height                 : 156px;
                   width                  : 156px;
                   border-radius          : 50%;
                   background-position    : center;
                   background-repeat      : no-repeat;
                   background-size        : cover;
                   border-top-right-radius: 9px;
                   border-top-left-radius : 9px
               }


               .card-body {
                   align-items: center;

                   .card-title {
                       font-size : 1.4rem;
                       text-align: center;
                       margin-top: 1rem;
                   }
               }
           }

           .card:hover {
               .card-title {
                   color: #4ABDE2;
               }
           }
       }