.slick-prev {
    z-index    : 100;
    margin-left: 6px;

}

.slick-prev:before {
    width    : 46px;
    height   : 46px;
    color    : #0aa9df !important;
    font-size: 40px !important;
}

.slick-next {
    margin-right: 22px;
}

.slick-next:before {
    width    : 46px;
    height   : 46px;
    color    : #0aa9df !important;
    font-size: 40px !important;

}

.home-page {
    text-transform: capitalize;
}