.home-header-container {
    width     : 100%;
    height    : 154px;
    background: #1db1a8;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;

        .home-left-content {
            display    : flex;
            align-items: center;
            width      : 100%;
            cursor     : pointer;

            .home-logo {
                background     : url(../../assets/logo.png) center no-repeat;
                display        : block;
                max-width      : 230px;
                width          : 100%;
                height         : 100%;
                object-fit     : cover;
                background-size: 226px auto;
                margin-top     : 30px;

            }
        }

        .home-right-content {
            display: block;

            .home-right-content-cover {
                float     : right;
                height    : auto;
                margin-top: 36px;
                text-align: right;

                .home-search {
                    display        : flex;
                    justify-content: end;


                    .home-search-input {
                        background-image   : url(../../assets/search.png);
                        border             : 1px solid #6e6e6e;
                        border-radius      : 5px;
                        padding            : 10px;
                        background-color   : #fff;
                        font-size          : 13px;
                        height             : 36px;
                        width              : 100%;
                        box-sizing         : border-box;
                        background-repeat  : no-repeat;
                        background-position: 5px center;
                        padding-left       : 30px;
                        background-size    : 20px;
                        width              : 310px;
                    }

                    .home-search-btn {
                        -moz-appearance    : none;
                        appearance         : none;
                        box-sizing         : border-box;
                        // background-color: rgba(0, 0, 0, 0);
                        border-radius      : 0;
                        border             : 0;
                        padding            : 0;
                        cursor             : pointer;
                        position           : relative;
                        display            : inline-block;
                        background-color   : #147b74;
                        color              : #fff;
                        font-weight        : 700;
                        transition         : background-color .2s;
                        height             : auto;
                        border-radius      : 6px;
                        font-size          : 14px;
                        line-height        : 1;
                        padding            : 11px 18px;
                        min-height         : 36px;
                        margin-left        : 5px;
                        vertical-align     : top;
                        min-width          : 56px;
                    }

                    .home-search-btn:hover {
                        background: #005a5a;
                    }

                }

                .home-item {
                    margin-block-start  : 1em;
                    margin-block-end    : 1em;
                    margin-inline-start : 0px;
                    margin-inline-end   : 0px;
                    padding-inline-start: 40px;
                    display             : flex;
                    margin-top          : 23px;

                    .home-item-select {
                        list-style: none;

                        a {
                            -webkit-appearance: none;
                            -moz-appearance   : none;
                            appearance        : none;
                            box-sizing        : border-box;
                            background-color  : rgba(0, 0, 0, 0);
                            border-radius     : 0;
                            border            : 0;
                            padding           : 0;
                            cursor            : pointer;
                            position          : relative;
                            display           : inline-block;
                            background-color  : #fff;
                            color             : #147b74;
                            font-weight       : 700;
                            transition        : background-color .2s;
                            height            : auto;
                            border-radius     : 6px;
                            font-size         : 14px;
                            line-height       : 1;
                            padding           : 11px 18px;
                            min-height        : 36px;
                            margin            : 0 0 0 5px;
                            min-width         : 108px;
                            text-align        : center;

                        }
                    }

                    .home-item-select :hover {
                        background: #e5f5f4;
                    }
                }
            }
        }
    }
}

.home-header-nav {
    height    : 52px;
    width     : 100%;
    background: #e5f5f4;
    box-shadow: 3px 6px 14px #e4e1e1;

    .home-header-menu {
        max-width      : 1020px;
        display        : flex;
        padding        : 0 15px;
        margin-left    : auto;
        margin-right   : auto;
        list-style     : none;
        justify-content: space-between;

        .home-header-item {
            display    : inline-block;
            line-height: 52px;

            a {
                color      : #006060;
                font-size  : 13.5px;
                font-weight: 600;
                padding    : 0 26px;
                text-align : center;

            }
        }

        .home-header-item:hover {
            background: #fff;
        }
    }
}